/* CSS for the Dynasty home page */

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow: hidden; 
}

body {
  background: linear-gradient(to bottom, black, #a28920, black);
  color: white;
  font-family: 'Overpass Mono', monospace;
  font-family: 'Poiret One', cursive;
  overflow: hidden; 
}

header {
  padding: 1.5em 0 2em 0;
	border-bottom: 5px solid black;
  text-align: center;

}

main {
  color: white;
  display: flex;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width:  1500px ;
  justify-content: space-around;
}

main h1, h2 {
  margin-top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main a {
  font-size: 2em; 
  display: block; 
  margin: 1em 0;
  color: white;
  transition: color 0.3s ease-in-out;

}

main a:hover {
  color: rgb(155, 149, 149);
}


main div {
  display: flex;
  flex-direction: column;
  flex:0 1  400px ;
}


.roles {
  margin-left: 10px;
  
}

.roles h2 {
  line-height: .4;

}

.schedule {
  text-align: center;
}

.schedule h2, h3 {
  margin-top: 0;
}

footer p {
	text-align: center;
	color: #AB8901;
	padding: 1em 0;
}