/* CSS for the Dynasty home page */

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, black, #a28920, black);
  color: white;
}

header {
  padding: 1.5em 0 2em 0;
	border-bottom: 5px solid black;
  text-align: center;
  font-family: 'Overpass Mono', monospace;
  font-family: 'Poiret One', cursive;
}

main {
  color: white;
  display: flex;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  justify-content: space-between;
}

main h1, h2 {
  margin-top: 0;
  font-family: 'Overpass Mono', monospace;
  font-family: 'Poiret One', cursive;
}

main a {
  font-size: 2em; 
  display: block; 
  margin: 1em 0;
  color: white;
  transition: color 0.3s ease-in-out;
  font-family: 'Overpass Mono', monospace;
  font-family: 'Poiret One', cursive;
}

main a:hover {
  color: rgb(155, 149, 149);
}

/* .roles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.achievements {
  text-align: left;

} */

#countdown {
  font-family: 'Overpass Mono', monospace;
  font-family: 'Poiret One', cursive;
}

footer p {
	text-align: center;
	color: #AB8901;
	padding: 1em 0;
  font-family: 'Overpass Mono', monospace;
  font-family: 'Poiret One', cursive;
}
