/* CSS for the Dynasty damage page */

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: url(/images/other/seoulkorea.png), linear-gradient(to bottom, black, #AB8901, black);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Overpass Mono', monospace;
  font-family: 'Poiret One', cursive;
}
